<h1>Create a new Landmark</h1>

<form action="/landmarks" method="post">

  <label>Enter Landmark Name <input type="text" name="landmark[name]" id="landmark_name"> </label>
  <label>Enter Landmark Year Completed <input type="text" name="landmark[year_completed]" id="landmark_year_completed"> </label>
  <br>
  <label>Select Figure  </label>
  <%Figure.all.each do |figure| %>
      <input type="radio" name="landmark[figure_id]" id="figure_<%=figure.id%>" value="<%=figure.id%>"><%=figure.name%>
  <% end %>
  <br>
  <p>Or create your own</p>
  <label>Enter Figure Name <input type="text" name="figure[name]" id="new_figure"> </label>


  <label>Select Titles </label>
  <%Title.all.each do |title| %>
      <input type="checkbox" name="landmark[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%>
  <% end %>
  <br>
  <p>Or create your own</p>
  <label>Enter Title Name <input type="text" name="title[name]" id="new_title"> </label>

  <input type="submit" name="Create New Landmark" id="Create New Landmark">
